*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

.main-container{
    width:100%;
    height:950px;
    background-image: url(./pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
    background-size: cover;
    background-position: center;
    padding:40px;
}

.container{
width:100%;
height:670px;
background-color: white;
padding-inline: 100px;
border-bottom:3px solid gray;
}

.navbar{
    width:100%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.left{
    width:30%;
    height:80px;  
}

.left img{
    width:150px;
    height:70px;
}

.right{
    width:70%;
    height:80px;
}
.right ul{
    width:110%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.right ul li{
    list-style: none;
    font-size: 20px;

}

.text-part{
    width:100%;
    height:200px;
    display:flex;
    
   
    padding-top:40px;
   

}
.div-1{
    width:50%;
    height:140px;
    
}
.div-1 h1{
    font-size:60px;

}
.div-1 h3{
    font-size:40px;
}

.text-part P{
    font-size:18px;
    padding-top:70px;
    padding-left:100px;
}
.image-part{
    width:100%;
    height:200px;
    background-image: url(./outdoor-swimming-pool-with-umbrella-chair-lounge-around-there-leisure-travel.jpg);
    background-size:contain;
    background-position:center;   
}

.div-2{
    width:100%;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: space-between;  
}

.div-3{
    width:100%;
    height:100px;
    display:flex;
    align-items:end;
    justify-content:center;
}

.footer{
    width:100%;
    height:200px;
    background-color: white;
    display:flex;
}

.box-1{
    width:30%;
    height:200px;
    border-right:3px solid gray;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

}
.box-2{
    width:20%;
    height:200px;
    border-right:3px solid gray;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

}

.box-3{
    width:20%;
    height:200px;
    border-right:3px solid gray;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;   
}
.box-4{
    width:30%;
    height:200px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    
}

@media (max-width:768px) {
    .main-container{
        width:100%;
        

    }
    .container{
        width:100%;
        padding-inline:40px;
    }

    .left img{
        width:100px;
        height:65px;
    }
    .right ul li{
        font-size:16px;
    }
    .div-1{
        width:70%;
        
        padding-top:37px;
       

    }
    .div-1 h1{
        font-size:35px;
    }
    .div-1 h3{
        font-size:33px;
    }
    .text-part p{
        font-size:10px;
        padding-left:3px;

   }

}
   


@media (max-width:480px) {
    .main-container{
        width:100%;
        height:auto;
        padding:5px;
        

    }
    .container{
        width:100%;
        padding-inline:10px;
    }

    .left img{
        width:200px;
        height:100px;
    }
    .right ul li{
       display:none;
    }
    .div-1{
        width:100%;
        padding:10px;
    
    }
    .div-1 h1{
        font-size:30px;
    }
    .div-1 h3{
        font-size:20px;
    }
    .text-part p{
        display:none;

   }

   .box-1 h1{
    font-size:20px;
   }

   .box-1 h4{
    font-size:15px;
   }

   .box-2 h1{
    font-size:15px;
   }

   .box-2 h4{
    font-size:15px;
   }

   .box-3 h1{
    font-size:15px;
   }

   .box-3 h4{
    font-size:15px;
   }

   .box-4 h1{
    font-size:20px;
   }

   .box-4 h4{
    font-size:15px;
   }

}
   



